doctype html
html(lang="es-ES")
  head
    meta(charset='utf-8')
    meta(name='viewport' ,content='width=device-width, initial-scale=1.0')
    title= "Lienzo en blanco | Movistar"
    meta(name='description', content="Movistar")
    meta(name='keywords', content="")
    meta(name='author', content="")
    // Theme color (Only Chrome Mobile)
    meta(name="theme-color", content="#db5945")

    // Facebook meta tags
    meta(property='og:title', content="")
    meta(property='og:description', content="")
    meta(property='og:type', content="")
    meta(property='og:url', content="")
    meta(property='og:image', content="")

    //Favicon
    link(rel='shortcut icon', type='image/x-icon', href="")

    //Css a Usar
    link(rel='stylesheet', href='css/style.css')

    |<!--[if lte IE 9]>
    |<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    |<![endif]-->



  body
    //- url = "http://cms.movistar.com.pe"
    - url = ""

    block header


    block content


    block footer


    // jQuery Librerias+
    script(src='js/vendor/vendor_all.js')
    // Compilado de application.js
    script(src='js/bundle.js')
