@font-face {
    font-family:'AgencyFB-Reg';
    src: url('../fonts/AgencyFB-Reg_gdi.eot');
    src: url('../fonts/AgencyFB-Reg_gdi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AgencyFB-Reg_gdi.woff') format('woff'),
        url('../fonts/AgencyFB-Reg_gdi.ttf') format('truetype'),
        url('../fonts/AgencyFB-Reg_gdi.svg#AgencyFB-Reg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: condensed;
    unicode-range: U+0020-25CA;
}

@font-face {
  font-family: 'cinzelbold';
  src: url('../fonts/cinzel-bold-webfont.woff2') format('woff2'), url('../fonts/cinzel-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cinzelregular';
  src: url('../fonts/cinzel-regular-webfont.woff2') format('woff2'), url('../fonts/cinzel-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}