#tpa_wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 400px;
  margin: 0;
  padding: 0;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: 40px;
}


#tpa_player {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
}

/* Left side */

#tpa_left {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  display: table-cell;
  overflow: hidden;
}

#tpa_cover {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Social Button */

#tpa_social_wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 60px;
  background: rgba(255, 255, 255, 0.75);
  font-size: 0px;
  overflow: hidden;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 600ms cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.3s;
  -o-transition: all 600ms cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.3s;
  transition: all 600ms cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.3s;
  &.tpa_active_share_wrapper {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 60px;
    background: rgba(255, 255, 255, 1);
    font-size: 0px;
    overflow: hidden;
    -webkit-transition: all 600ms;
    -o-transition: all 600ms;
    transition: all 600ms;
  }
}

.tpa_social_button {
  position: relative;
  margin-top: 20px;
  display: inline-block;
  width: 25%;
  text-align: center;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  text-decoration: none;
}

#tpa_social_wrapper {
  .fa-facebook, .fa-twitter, .fa-google-plus, .fa-tumblr {
    -webkit-animation: socialIconOut 600ms cubic-bezier(0.95, 0.05, 0.795, 0.035) both;
    -o-animation: socialIconOut 600ms cubic-bezier(0.95, 0.05, 0.795, 0.035) both;
    animation: socialIconOut 600ms cubic-bezier(0.95, 0.05, 0.795, 0.035) both;
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  &.tpa_active_share_wrapper {
    .fa-facebook, .fa-twitter, .fa-google-plus, .fa-tumblr {
      -webkit-animation: socialIconIn 600ms cubic-bezier(0.19, 1, 0.22, 1) both;
      -o-animation: socialIconIn 600ms cubic-bezier(0.19, 1, 0.22, 1) both;
      animation: socialIconIn 600ms cubic-bezier(0.19, 1, 0.22, 1) both;
      -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  #tpa_facebook {
    font-size: 23px;
    line-height: 20px;
    -webkit-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
  }
  #tpa_twitter {
    font-size: 28px;
    line-height: 20px;
    -webkit-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  #tpa_google_plus {
    font-size: 23px;
    line-height: 20px;
    -webkit-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  #tpa_tumblr {
    font-size: 23px;
    line-height: 20px;
    -webkit-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
}

@-webkit-keyframes socialIconIn {
  from {
    -webkit-transform: translateY(40px);
  }

  to {
    -webkit-transform: translateY(0);
  }
}


@-o-keyframes socialIconIn {
  from {
    -ms-transform: translateY(40px);
  }

  to {
    -o-transform: translateY(0);
  }
}


@-moz-keyframes socialIconIn {
  from {
    -o-transform: translateY(40px);
  }

  to {
    -ms-transform: translateY(0);
  }
}


@keyframes socialIconIn {
  from {
    transform: translateY(40px);
  }

  to {
    transform: translateY(0);
  }
}


@-webkit-keyframes socialIconOut {
  from {
    -webkit-transform: translateY(0px);
  }

  to {
    -webkit-transform: translateY(40px);
  }
}


@-o-keyframes socialIconOut {
  from {
    -ms-transform: translateY(0px);
  }

  to {
    -o-transform: translateY(40px);
  }
}


@-moz-keyframes socialIconOut {
  from {
    -o-transform: translateY(0px);
  }

  to {
    -ms-transform: translateY(40px);
  }
}


@keyframes socialIconOut {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(40px);
  }
}


/* Right side */

#tpa_right {
  position: relative;
  display: table-cell;
  width: auto;
  height: auto;
  vertical-align: top;
}

/* Top Section*/

#tpa_top {
  font-family: "Arial";
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 8px 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0.00;
  border-bottom: 1px solid #02536B;
  margin-bottom: 10px;
}

.tpa_artist {
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
}

.tpa_title {
  font-family: inherit;
  font-size: inherit;
  font-weight: 100;
}

/* Middle Section */

#tpa_middle {
  position: relative;
  width: 100%;
  height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  table-layout: fixed;
  vertical-align: top;
  border-spacing: 20px 0;
  white-space: nowrap;
}

/* Control button*/

.tpa_playpause_toggle, .tpa_prev, .tpa_repeat, .tpa_next, .tpa_share, .tpa_shuffle, .tpa_playlist_toggle, #tpa_volume {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  line-height: 23px;
}

.tpa_prev:before, .tpa_repeat:before, .tpa_next:before, .tpa_share:before, .tpa_shuffle:before {
  position: absolute;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
}

.tpa_playlist_toggle {
  &:before, &:after {
    position: absolute;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
  }
}

#tpa_volume:before, .tpa_one_item_buy:before, .tpa_one_item_dwn:before {
  position: absolute;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
}

.tpa_playpause_toggle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid transparent;
}

.tpa_play {
  border-left-width: 20px;
  border-right-width: 0px;
  border-top-width: 10px;
  border-bottom-width: 10px;
  -webkit-animation: rotateButtonOut 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
  -o-animation: rotateButtonOut 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
  animation: rotateButtonOut 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}

.tpa_pause {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  -webkit-animation: rotateButtonIn 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
  -o-animation: rotateButtonIn 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
  animation: rotateButtonIn 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}

.tpa_prev:before {
  content: "\f04a";
  top: -2px;
  left: -1px;
}

.tpa_repeat:before {
  content: "\f01e";
  top: -2px;
  left: 0px;
}

.tpa_shuffle:before {
  content: "\f074";
  top: -1px;
  left: -1px;
}

.tpa_repeat {
  -webkit-animation: rotateRepeatButtonOut 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) both;
  -o-animation: rotateRepeatButtonOut 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) both;
  animation: rotateRepeatButtonOut 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) both;
}

.tpa_next:before {
  content: "\f04e";
  top: -2px;
  left: 0px;
}

.tpa_share:before {
  content: "\f1e0";
  top: -2px;
  left: 0px;
}

.tpa_repeat.tpa_active_button {
  -webkit-animation: rotateRepeatButtonIn 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
  -o-animation: rotateRepeatButtonIn 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
  animation: rotateRepeatButtonIn 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}

.tpa_one_item_buy, .tpa_one_item_dwn {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 20px;
  left: -webkit-calc(50% - 10px);
  left: -moz-calc(50% - 10px);
  left: -mos-calc(50% - 10px);
  left: -o-calccalc(50% (-10px));
  left: calc(50% - 10px);
  cursor: pointer;
}

.tpa_one_item_buy:before {
  content: "\f218";
  top: -2px;
  left: 0px;
}

.tpa_one_item_dwn:before {
  content: "\f063";
  top: -2px;
  left: 0px;
}

/* Анимация Воспроизведение/Пауза */

@-webkit-keyframes rotateButtonIn {
  0% {
    -webkit-transform: rotate(0deg) scale(1, 1);
    border-left-width: 20px;
    border-right-width: 0px;
    border-top-width: 10px;
    border-bottom-width: 10px;
  }

  50% {
    -webkit-transform: rotate(90deg) scale(0.75, 0.75);
  }

  100% {
    -webkit-transform: rotate(180deg) scale(1, 1);
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 0px;
    border-bottom-width: 0px;
  }
}


@-o-keyframes rotateButtonIn {
  0% {
    -o-transform: rotate(0deg) scale(1, 1);
    border-left-width: 20px;
    border-right-width: 0px;
    border-top-width: 10px;
    border-bottom-width: 10px;
  }

  50% {
    -o-transform: rotate(90deg) scale(0.75, 0.75);
  }

  100% {
    -o-transform: rotate(180deg) scale(1, 1);
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 0px;
    border-bottom-width: 0px;
  }
}


@-moz-keyframes rotateButtonIn {
  0% {
    -moz-transform: rotate(0deg) scale(1, 1);
    border-left-width: 20px;
    border-right-width: 0px;
    border-top-width: 10px;
    border-bottom-width: 10px;
  }

  50% {
    -moz-transform: rotate(90deg) scale(0.75, 0.75);
  }

  100% {
    -moz-transform: rotate(180deg) scale(1, 1);
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 0px;
    border-bottom-width: 0px;
  }
}


@keyframes rotateButtonIn {
  0% {
    transform: rotate(0deg) scale(1, 1);
    border-left-width: 20px;
    border-right-width: 0px;
    border-top-width: 10px;
    border-bottom-width: 10px;
  }

  50% {
    transform: rotate(90deg) scale(0.75, 0.75);
  }

  100% {
    transform: rotate(180deg) scale(1, 1);
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 0px;
    border-bottom-width: 0px;
  }
}


@-webkit-keyframes rotateButtonOut {
  0% {
    -webkit-transform: rotate(180deg) scale(1, 1);
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 0px;
    border-bottom-width: 0px;
  }

  50% {
    -webkit-transform: rotate(270deg) scale(0.75, 0.75);
  }

  100% {
    -webkit-transform: rotate(360deg) scale(1, 1);
    border-left-width: 20px;
    border-right-width: 0px;
    border-top-width: 10px;
    border-bottom-width: 10px;
  }
}


@-o-keyframes rotateButtonOut {
  0% {
    -o-transform: rotate(180deg) scale(1, 1);
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 0px;
    border-bottom-width: 0px;
  }

  50% {
    -o-transform: rotate(270deg) scale(0.75, 0.75);
  }

  100% {
    -o-transform: rotate(360deg) scale(1, 1);
    border-left-width: 20px;
    border-right-width: 0px;
    border-top-width: 10px;
    border-bottom-width: 10px;
  }
}


@-moz-keyframes rotateButtonOut {
  0% {
    -moz-transform: rotate(180deg) scale(1, 1);
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 0px;
    border-bottom-width: 0px;
  }

  50% {
    -moz-transform: rotate(270deg) scale(0.75, 0.75);
  }

  100% {
    -moz-transform: rotate(360deg) scale(1, 1);
    border-left-width: 20px;
    border-right-width: 0px;
    border-top-width: 10px;
    border-bottom-width: 10px;
  }
}


@keyframes rotateButtonOut {
  0% {
    transform: rotate(180deg) scale(1, 1);
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 0px;
    border-bottom-width: 0px;
  }

  50% {
    transform: rotate(270deg) scale(0.75, 0.75);
  }

  100% {
    transform: rotate(360deg) scale(1, 1);
    border-left-width: 20px;
    border-right-width: 0px;
    border-top-width: 10px;
    border-bottom-width: 10px;
  }
}


@-webkit-keyframes rotateRepeatButtonIn {
  0% {
    -webkit-transform: rotate(0deg) scale(1, 1);
  }

  50% {
    -webkit-transform: rotate(180deg) scale(0.75, 0.75);
  }

  100% {
    -webkit-transform: rotate(360deg) scale(1, 1);
  }
}


@-o-keyframes rotateRepeatButtonIn {
  0% {
    -o-transform: rotate(0deg) scale(1, 1);
  }

  50% {
    -o-transform: rotate(180deg) scale(0.75, 0.75);
  }

  100% {
    -o-transform: rotate(360deg) scale(1, 1);
  }
}


@-moz-keyframes rotateRepeatButtonIn {
  0% {
    -moz-transform: rotate(0deg) scale(1, 1);
  }

  50% {
    -moz-transform: rotate(180deg) scale(0.75, 0.75);
  }

  100% {
    -moz-transform: rotate(360deg) scale(1, 1);
  }
}


@keyframes rotateRepeatButtonIn {
  0% {
    transform: rotate(0deg) scale(1, 1);
  }

  50% {
    transform: rotate(180deg) scale(0.75, 0.75);
  }

  100% {
    transform: rotate(360deg) scale(1, 1);
  }
}


@-webkit-keyframes rotateRepeatButtonOut {
  0% {
    -webkit-transform: rotate(0deg) scale(1, 1);
  }

  50% {
    -webkit-transform: rotate(180deg) scale(0.75, 0.75);
  }

  100% {
    -webkit-transform: rotate(360deg) scale(1, 1);
  }
}


@-o-keyframes rotateRepeatButtonOut {
  0% {
    -o-transform: rotate(0deg) scale(1, 1);
  }

  50% {
    -o-transform: rotate(180deg) scale(0.75, 0.75);
  }

  100% {
    -o-transform: rotate(360deg) scale(1, 1);
  }
}


@-moz-keyframes rotateRepeatButtonOut {
  0% {
    -moz-transform: rotate(0deg) scale(1, 1);
  }

  50% {
    -moz-transform: rotate(180deg) scale(0.75, 0.75);
  }

  100% {
    -moz-transform: rotate(360deg) scale(1, 1);
  }
}


@keyframes rotateRepeatButtonOut {
  0% {
    transform: rotate(0deg) scale(1, 1);
  }

  50% {
    transform: rotate(180deg) scale(0.75, 0.75);
  }

  100% {
    transform: rotate(360deg) scale(1, 1);
  }
}


#tpa_timerange {
  position: relative;
  width: auto;
  height: 20px;
  cursor: pointer;
  display: table-cell;
}

#tpa_current, #tpa_duration {
  position: absolute;
  top: 0px;
  font-family: "Arial";
  font-size: 15px;
  line-height: 18px;
  font-weight: 100;
  z-index: 5;
}

#tpa_current {
  left: 5px;
}

#tpa_duration {
  right: 5px;
}

/* Анимация индикатора загрузки */

@-webkit-keyframes tpa_buffer {
  from {
    background-position: 0px 0;
  }

  to {
    background-position: 10px 0;
  }
}


@-o-keyframes tpa_buffer {
  from {
    background-position: 0px 0;
  }

  to {
    background-position: 10px 0;
  }
}


@-moz-keyframes tpa_buffer {
  from {
    background-position: 0px 0;
  }

  to {
    background-position: 10px 0;
  }
}


@keyframes tpa_buffer {
  from {
    background-position: 0px 0;
  }

  to {
    background-position: 10px 0;
  }
}


#tpa_progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 20px;
}

/* Bottom Section */

#tpa_bottom {
  position: relative;
  width: 100%;
  height: 90px;
}

/* Playlist button*/

.tpa_playlist_toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 20px;
  left: -webkit-calc(50% - 10px);
  left: -moz-calc(50% - 10px);
  left: -mos-calc(50% - 10px);
  left: -o-calccalc(50% (-10px));
  left: calc(50% - 10px);
  .wpta_playlist_toggle_middle_line {
    position: absolute;
    width: 20px;
    height: 4px;
    top: 8px;
    left: 0;
    -webkit-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    opacity: 1;
  }
  &:before, &:after {
    content: "";
    -webkit-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}

.tpa_playlist_close {
  -webkit-animation: rotatePlaylistButtonOut 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
  -o-animation: rotatePlaylistButtonOut 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
  animation: rotatePlaylistButtonOut 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}

.tpa_playlist_open {
  -webkit-animation: rotatePlaylistButtonIn 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
  -o-animation: rotatePlaylistButtonIn 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
  animation: rotatePlaylistButtonIn 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}

.tpa_playlist_close {
  &:before {
    top: 1px;
    left: 0;
    width: 100%;
    height: 4px;
  }
  &:after {
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 4px;
  }
}

.tpa_playlist_open {
  .wpta_playlist_toggle_middle_line {
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  &:before {
    top: 8px;
    left: 0px;
    width: 20px;
    height: 4px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  &:after {
    left: 0px;
    bottom: 8px;
    width: 20px;
    height: 4px;
  }
}

/* Анимация кнопки плейлиста */

@-webkit-keyframes rotatePlaylistButtonIn {
  0% {
    -webkit-transform: rotate(0deg) scale(1, 1);
  }

  50% {
    -webkit-transform: rotate(67deg) scale(0.75, 0.75);
  }

  100% {
    -webkit-transform: rotate(135deg) scale(1, 1);
  }
}


@-o-keyframes rotatePlaylistButtonIn {
  0% {
    -o-transform: rotate(0deg) scale(1, 1);
  }

  50% {
    -o-transform: rotate(67deg) scale(0.75, 0.75);
  }

  100% {
    -o-transform: rotate(135deg) scale(1, 1);
  }
}


@-moz-keyframes rotatePlaylistButtonIn {
  0% {
    -moz-transform: rotate(0deg) scale(1, 1);
  }

  50% {
    -moz-transform: rotate(67deg) scale(0.75, 0.75);
  }

  100% {
    -moz-transform: rotate(135deg) scale(1, 1);
  }
}


@keyframes rotatePlaylistButtonIn {
  0% {
    transform: rotate(0deg) scale(1, 1);
  }

  50% {
    transform: rotate(67deg) scale(0.75, 0.75);
  }

  100% {
    transform: rotate(135deg) scale(1, 1);
  }
}


@-webkit-keyframes rotatePlaylistButtonOut {
  0% {
    -webkit-transform: rotate(135deg) scale(1, 1);
  }

  50% {
    -webkit-transform: rotate(247deg) scale(0.75, 0.75);
  }

  100% {
    -webkit-transform: rotate(360deg) scale(1, 1);
  }
}


@-o-keyframes rotatePlaylistButtonOut {
  0% {
    -o-transform: rotate(135deg) scale(1, 1);
  }

  50% {
    -o-transform: rotate(247deg) scale(0.75, 0.75);
  }

  100% {
    -o-transform: rotate(360deg) scale(1, 1);
  }
}


@-moz-keyframes rotatePlaylistButtonOut {
  0% {
    -moz-transform: rotate(135deg) scale(1, 1);
  }

  50% {
    -moz-transform: rotate(247deg) scale(0.75, 0.75);
  }

  100% {
    -moz-transform: rotate(360deg) scale(1, 1);
  }
}


@keyframes rotatePlaylistButtonOut {
  0% {
    transform: rotate(135deg) scale(1, 1);
  }

  50% {
    transform: rotate(247deg) scale(0.75, 0.75);
  }

  100% {
    transform: rotate(360deg) scale(1, 1);
  }
}


/* Volume */

#tpa_volume_wrapper {
  position: absolute;
  width: 130px;
  height: 20px;
  right: 20px;
  bottom: 20px;
}

#tpa_volume:before {
  top: -2px;
  border: 0;
  border-right: 10px solid transparent;
}

.tpa_volume_up:before {
  content: '\f028';
}

.tpa_volume_low:before {
  content: '\f027';
}

.tpa_volume_muted:before {
  content: '\f026';
}

.tpa_volumerange {
  position: absolute;
  top: 7px;
  right: 0;
  width: 100px;
  height: 5px;
  cursor: pointer;
}

.tpa_volumerange_value {
  position: relative;
  width: 75%;
  height: 100%;
}

.tpa_volume_value {
  position: absolute;
  right: 0;
  top: -35px;
  padding: 2px 10px;
  font-family: "Arial";
  font-size: 16px;
  font-weight: 100;
  display: none;
  &:before {
    position: absolute;
    content: '';
    right: 0;
    bottom: -10px;
    width: 0;
    height: 0;
    border: 0;
    border-left: 10px solid transparent;
  }
}

#tpa_volume_wrapper:hover .tpa_volume_value {
  display: none;

}

/* Playlist */

#tpa_playlist {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
}

.tpa_playlist_item {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  cursor: pointer;
  line-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  span {
    -webkit-animation: itemShow 600ms forwards cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-animation: itemShow 600ms forwards cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: itemShow 600ms forwards cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-opacity: 0.00;
    -khtml-opacity: 0.00;
    opacity: 0.00;
  }
}

// Анимация списка плейлиста при открытие

@-webkit-keyframes itemShow {
  from {
    -webkit-transform: translateY(50%);
    -moz-opacity: 0.00;
    -khtml-opacity: 0.00;
    opacity: 0.00;
  }

  to {
    -webkit-transform: translateX(0%);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}


@-o-keyframes itemShow {
  from {
    -o-transform: translateY(50%);
    -moz-opacity: 0.00;
    -khtml-opacity: 0.00;
    opacity: 0.00;
  }

  to {
    -o-transform: translateX(0%);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}


@-moz-keyframes itemShow {
  from {
    -moz-transform: translateY(50%);
    -moz-opacity: 0.00;
    -khtml-opacity: 0.00;
    opacity: 0.00;
  }

  to {
    -moz-transform: translateX(0%);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}


@keyframes itemShow {
  from {
    transform: translateY(50%);
    -moz-opacity: 0.00;
    -khtml-opacity: 0.00;
    opacity: 0.00;
  }

  to {
    transform: translateX(0%);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}


.tpa_item {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  padding: 0 50px 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.tpa_playlist_item:before {
  position: absolute;
  content: "\f144";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  left: -23px;
  top: 0px;
}

.tpa_current_item:before {
  content: '\f001';
  font-size: 20px;
  left: -30px;
}

.tpa_buy, .tpa_dwn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tpa_buy:before, .tpa_dwn:before {
  position: absolute;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  opacity: 0.5;
  top: 0px;
  left: 10px;
  font-size: 20px;
}

.tpa_buy:before {
  content: '\f218';
}

.tpa_dwn:before {
  content: '\f063';
}

.tpa_current_item .tpa_buy:before, .tpa_playlist_item:hover .tpa_buy:before, .tpa_current_item .tpa_dwn:before, .tpa_playlist_item:hover .tpa_dwn:before {
  opacity: 1;
}

.tpa_buy:hover:before, .tpa_dwn:hover:before {
  opacity: 1;
  -webkit-animation: rubberBand 1s both;
  -o-animation: rubberBand 1s both;
  animation: rubberBand 1s both;
}

@media screen and (max-width: 600px) {
  #tpa_player {
    height: 360px;
  }
  /* Left side */
  #tpa_left {
    width: 100%;
    display: block;
    height: auto;
  }
  #tpa_cover {
    width: 100%;
    height: 160px;
    display: block;
  }
  /* Right side */
  #tpa_right {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  #tpa_middle {
    height: 50px;
    text-align: center;
    border-spacing: 0px;
  }
  /* Control button*/
  .tpa_playpause_toggle, .tpa_prev, .tpa_repeat, .tpa_next, .tpa_shuffle, .tpa_share, .tpa_playlist_toggle, .tpa_volume {
    display: inline-block;
    margin: 0 10px;
  }
  #tpa_timerange {
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 20px;
    cursor: pointer;
    display: block;
    overflow: hidden;
  }
  /* Bottom Section */
  #tpa_bottom {
    width: 100%;
    height: 60px;
  }
  /* Playlist button*/
  .tpa_playlist_toggle {
    left: 10px;
  }
}

/* loader */

.tpa_loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 60px;
  color: #fff;
  width: 60px;
  height: 60px;
  display: none;
}

/* Skin Media player */

#tpa_player, #tpa_cover {
  background-color: rgba(0, 0, 0, 0.25);
}

#tpa_top {
  color: #32a6c6;
}

.tpa_prev:before, .tpa_repeat:before, .tpa_next:before, .tpa_share:before, .tpa_shuffle:before, #tpa_volume:before, .tpa_social_button, .tpa_one_item_buy:before, .tpa_one_item_dwn:before {
  color: #fff;
}

.tpa_playlist_close {
  &:before, &:after {
    background: #fff;
  }
}

.tpa_playlist_toggle .wpta_playlist_toggle_middle_line {
  background: #fff;
}

.tpa_playpause_toggle {
  border-left-color: #fff;
  border-right-color: #fff;
}

.tpa_play:hover:before, .tpa_pause:hover:before, .tpa_prev:hover:before, .tpa_repeat:hover:before, .tpa_next:hover:before, .tpa_share:hover:before, .tpa_shuffle:hover:before, #tpa_volume:hover:before, .tpa_social_button:hover, .tpa_one_item_buy:hover:before, .tpa_one_item_dwn:hover:before {
  color: #ffa61c;
}

.tpa_playpause_toggle:hover {
  border-left-color: #ffa61c;
  border-right-color: #ffa61c;
}

.tpa_active_button:before {
  color: #ffa61c !important;
}

.tpa_playlist_open {
  &:before, &:after {
    background: #ffa61c;
  }
}

.tpa_playlist_toggle:hover {
  &:before, &:after, .wpta_playlist_toggle_middle_line {
    background: #ffa61c;
  }
}

#tpa_timerange, .tpa_volumerange {
  background: #403f3f;
}

#tpa_progress, .tpa_volumerange_value {
  background: #3EC3D5;
}

.tpa_volume_value {
  background: #3EC3D5;
  &:before {
    border-top: 10px solid #3EC3D5;
  }
}

#tpa_current, #tpa_duration, .tpa_volume_value {
  color: #fff;
}

#tpa_playlist {
  background: rgba(183,206,230,0.26);
  color: #fff;
}

.tpa_playlist_item:before {
  color: #fff;
}

.tpa_current_item, .tpa_playlist_item:hover {
  background: #42cfe2;
  color: #fff;
}

.tpa_current_item:before, .tpa_playlist_item:hover:before {
  color: #fff;
}

.tpa_buy, .tpa_dwn {
  background: #42cfe2;
}

.tpa_buy:before, .tpa_dwn:before {
  color: #fff;
}