@media (max-width: 768px) {
  .descubre{
    padding: 0;
  }
  .descubre .wrapperVideo .video{
    width: 100%;
  }
  .descubre .wrapperVideo .servicios{
    width: 100%;
    .item{
      display: inline-block;
      width: 33.33%;
      height: 140px;
      border-left: 4px solid #5bc5f2;
      &:first-child{
        border-left: 0;
      }
    }
  }
}
