@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);
@import "normalize";
@import "fonts";
@import "bootstrap.min";
@import "owl.carousel";

$font-family: 'cinzelregular',sans-serif;
$font-familyBold: 'cinzelbold',sans-serif;
$font-text:'Lato', sans-serif;
$blue: #00385d;
$text-blue:#004f7c;
$text-color:#515559;

html, body{
  padding: 0;
}
body{
   color:#666;
}
*{
  line-height: normal;
}

.header{
  .boxtop{
    background-color: $blue;
    padding: 20px 0;
  }
  .boxbottom{
    background-color: white;
    padding: 20px 0;
  }
  .logotext{
    margin: 0;
    padding: 0;
    line-height: 30px;
    color:white;
    font-weight: 400;
  }
  .nav{
    padding-top: 5px;
    ul{
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        vertical-align: middle;
        padding-left: 20px;
        &:first-child{
          padding-left: 0;
        }
        a{
          display: block;
          color:#00395d;
          font-size: 18px;
        }
      }
    }
  }
}

.boxvideo{
  display: none;
  .videoyoutube{
    width: 100%;
  }
}
.boxinfo{
  h2{
    font-size: 44px;
    padding: 14px 0 10px;
    margin: 0;
    font-weight: normal;
    color:$text-blue;
  }

  h3{
    font-size: 30px;
    padding: 14px 0 10px;
    margin: 0;
    font-weight: normal;
    color:$text-blue;
  }
  .boxtop, .boxbottom{
    padding: 40px 0;
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      padding: 6px 0;
      span{
        display: inline-block;
        vertical-align: middle;
      }
      .ico{
        padding-right: 10px;
      }
      .text{
        font-size: 18px;
        color:$text-color;
      }
    }
  }
  .boxservicios{
    border-right: 2px solid #cccccc;
    .title{
      font-size: 24px;
      color:$text-blue;
      font-weight: bold;
      padding-bottom: 30px;
    }
  }
  .boxequipos{
      .boxitem{
      text-align: center;
      padding-right: 130px;
      }
      .pd-top{
        padding-top: 40px;
      }
    .title{
      font-size: 24px;
      color:$text-blue;
      font-weight: bold;
          padding: 0 0 37px 80px;
    }
    .detalle {
      color: #515559;
      text-align: center;
    }
  }
}
.precio{
  background-color: #006d9e;
  padding: 30px 40px 10px;
  .boxpre{
      padding: 0 44px;
    h3{
      color: #fff;
      margin: 0;
      font-size: 36px;
      padding-bottom: 12px;
    }
    .simbolo{
      color: #FFF;
      font-size: 50px;
    }
    .monto{
      color: #FFF;
      font-size: 110px;
    }
    p {
      color: #FFF;
      font-size: 22px;
    }
    .pd-top{
      padding-top: 32px;
    }
  }
}
.descubre{
  background-color: #5bc5f2;
  padding: 40px;
  h2{
    font-size: 44px;
    color: #fff;
    padding-bottom: 50px;
  }
  p{
    font-size: 26px;
    color: #fff;
    padding-top: 10px;
  }
  .wrapperVideo{
    font-size: 0;
    p{
      font-size: 14px;
      padding: 0;
    }
    .video, .servicios{
      display: inline-block;
      vertical-align: top;
    }
    .video{
      width: 70%;
    }
    .servicios{
      width: 30%;
    }
    .item{
      text-align: center;
      background-color: #27a4d5;
      padding: 9px 0;
      vertical-align: top;
      border-bottom: 4px solid #5bc5f2;
      .title{
        padding-top: 6px;
      }
    }
  }
}


.slideinit{
  .owl-theme .owl-controls .owl-buttons div{
    position: absolute;
    top: 50%;
    margin:-10px 0 0 0;
    &.owl-prev{
      left: -20px;
    }
    &.owl-next{
      right: -20px;
    }
  }
}

.owl-wrapper{
  width: 100%;
  .item{
    width: 100%;
  }
}

.control{
  padding: 60px;
  text-align: center;
  h2{
    color:$text-blue;
    font-size: 44px;
    padding-bottom: 50px;
  }
  h4{
    color:$text-blue;
    font-size: 32px;
    padding: 35px 0 25px 0;
  }
  .conocer{
    padding-top: 100px;
  }
}
.pidelo{
  background-color: #7ab700;
  padding: 35px;
  p{
    color: #fff;
    font-size: 32px;
    padding-top: 10px;
    text-align: center;
  }
  img{
    padding-top: 5px;
  }
}
.footer{
  padding: 36px;
  .nav_footer{
    padding-top: 30px;
    ul{
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        vertical-align: middle;
        padding-left: 8px;
        &:first-child{
          padding-left: 0;
        }
        a{
          display: block;
          color:#4a4a4a;
        }
        a:hover{
        text-decoration: none;
      }
      }
    }
  }
  .separador{
    padding-left: 40px;
  }
}


@import "responsive"
